.ResultPageContainer{
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-color: rgb(103, 103, 103);
    overflow-y: hidden;
    overflow-x: hidden;
}

.ResultsContainer {
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(17, 9, 53, 0.622) 0%, rgba(6, 16, 31, 0.941) 35%);
    /*background: linear-gradient(to top, rgb(17, 9, 53) 0%, rgba(6, 16, 31, 0.941) 35%);*/
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    text-align: center;
    position: relative;
}

.topResult{
    height: 20%;
    color: white;
    position: absolute;
    display: flex;

    top: 0;
    width: 500px;
    height: 250px;

}

.topBarResult{
    display: flex;
}

.pointTextContainer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.totalPoints{
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 1in;
}

.refreshT{
    font-family: 'Courier New', Courier, monospace;
    transition: 0.2s ease-in-out;
    color: white;
    position: absolute;
    right: 0;
    left: 0;
}

.midResult{
    height: 40%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.LeaderboardHeadline{
    left: 15%;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.tableAndPContainer{
    display: block;
    text-align: start;
    margin: 0;
}

.tableContainer{
    max-height: 400px;
    overflow-y: auto;
    width: 500px;
    border-radius: 7px;
    box-shadow: 0 5px 30px rgb(176, 142, 235); /* Add shadow */

}

.table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
    background-color: #fffffffc;

}

.table-header {
  background-color: rgb(176, 142, 235);
  font-weight: bold;
  text-align: left;
  padding: 8px;
  border: 1px solid #a9a7a7;
  color: #111;
}

.table-data {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.registerPointsContainer{
    display: inline-block;
    justify-content: center;
    height: 100%;
}

.inputUsernameContainer{
    display: block;
    width: 80%;
    padding-top: 100px;
    min-height: 25%;
    margin: auto;
    text-align: start;
}

.registerTekst{
    font-size: 1.4rem;
    color: rgb(228, 224, 224);
    font-weight: 600;
    line-height: 1.5;
}

.inputUsername{
    border-radius: 10px;
    height: 20px;
    padding: 10px;
    font-weight: 600;
}

.usernameBtn{
    border-radius: 10px;
    padding: 7px;
    background-color: rgb(101, 67, 158);
    box-shadow: 0 0px 14px rgb(176, 142, 235); /* Add shadow */
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.usernameBtn:disabled{
    background-color: rgb(90, 74, 118);
    box-shadow: 0 1px 12px rgb(139, 99, 207); /* Add shadow */
    color: rgb(170, 174, 177);
    cursor: not-allowed;
}

.feedback{
    font-weight: 600;
    
}

.bottomResult{
    height: 30%;
}

.BtnWrapper{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 30px;
}

.BtnTryAgain{
    padding: 10px;
    border-radius: 10px;
    color: yellow;
    background-color: rgb(47, 125, 202);
    font-weight: 600;
    border: solid yellow 2px;
}

@media screen and (max-width: 1600px) {
    .topResult{
        height: 20%;
    }

    .totalPoints{
        font-size: 1.3rem;
    }

    .LeaderboardHeadline{
        font-size: 1.1rem;
    }

    .registerTekst{
        font-size: 1.1rem;
    }


    .midResult{
        margin-top: 10px;
    }

    .tableContainer{
        max-height: 370px;

        width: 470px;
    
    }
}