.arenaContainer{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background-color: rgba(105, 109, 115, 0.214);
}


.battleContainer{
    width: 90%;
    height: 100%;

    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    z-index: 0;
    overflow: hidden;
}

.ArenaHeadline{
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}

.infoBattle{
    padding-top: 70px;
}

.infoContainerArena{
    padding-top:20px;
    text-align: center;
    justify-content: center;
    max-width: 70%;
    margin: auto;
}

.boxesContainer{
    display: flex;
    flex-wrap: wrap;
    padding-top: 55px;
    height: 60%;
    max-width: fit-content;
    max-width: 80%;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.boxes{
    padding-right: 30px;
    height: 10%;
    justify-content: center;
    text-align: center;
    max-width: fit-content;
    position: relative;
}

.btnBoxes{
    padding: 10px;
    width: 50px;
    font-weight: 600;
}

.btnBoxes:hover{
    cursor: pointer;

}

.battleBottomSection{
    position: relative;
    margin-top: -50px;
}

.timeComplexityContainer{
    bottom: 0;

    justify-content: center;
    text-align: center;

}

.GainPointsT{
    color: rgb(243, 173, 43);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}

.timeComplexityText {
    color: #555;
    font-size: 0.9rem;
    padding: 10px;
}


.timeComplexityOptionsContainer{
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    display: flex;
}

.timeComplexityBtn{
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
}

.timeComplexityBtn:disabled{
    transition: 0.7s;
    cursor: not-allowed;
}

.resultComplexityAnswerT{
    font-weight: 600;
    margin-top: 20px;
}

.choseText{
    font-family: 'monospace';
}

.resultater{
    text-align: center;
    justify-content: center;
}

.scoreText{
    justify-content: center;
    margin: auto;
}

.resultText{
    margin: auto;
    text-align: center;
}

.gameTips{
    color: #555;
    padding-top: 20px;
    font-size: 16px;
}

.nextBtnContainer {
    justify-content: center;
    margin: auto;
    display: flex;
    margin-top: calc(3vw);
}

.nextBtn {
    display: flex;
    justify-content: flex-start; /* Align the text to the start of the button */
    border-radius: 20px;
    font-size: 1rem;
    background-color: transparent;
    cursor: pointer;
    border: solid gray 2px;
    padding: 11px 21px;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
}

.button-detail{
    background-color: transparent;
    border: transparent;
    letter-spacing: 0.1px;
    color: #555;
    font-size: 26px;
    margin-left: 50px;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    padding-bottom: 5px;
    font-weight: 100;
}

.moreDetailIcon{
    margin: auto;
    display: flex;
    padding-left: 4px;
}

.containerMystery{
    align-items: center;
    width: 550px;
    padding-top: 10px;
    margin: auto;
    justify-content: center;
}

.containerMysteryText{
    text-align: center;
    width: 550px;
    margin: auto;
    padding: 20px;
    margin-left: -15px;
    color: #555;
}

.mysteryText{
    font-size: large;
}

.containerMysteryBtn{
    padding: 0px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    width: 98px;
    text-align: center;
}

.mysteryBtn{
    font-size: 50px;
    color: aqua;
    margin-left: -10px;
}

.quizContainer{
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.quizWindow::before{
    transition: ease-in-out 0.2s;
}

.quizWindow{
    position: relative;
    background-color: white;
    width: 800px;
    height: 800px;
    z-index: 2;
    border-radius: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    transition: opacity 2.3s ease-in-out; /* Add a transition for opacity */
}


.quizQuestion {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: space-between; /* Distribute items evenly along the vertical axis */
    height: 80%; /* Adjust the height as needed */
    padding-top: 20px; /* Add some space at the top */
}

.questionContent{
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: space-between; /* Distribute items evenly along the vertical axis */
    height: 80%; /* Adjust the height as needed */
    width: 88%;
    padding-top: 20px; /* Add some space at the top */
}

.quizQuestion, .questionContent {
    opacity: 1; /* Ensure questions are initially visible */
    transition: opacity 0.5s ease-in-out;
  }
  
.quizQuestion.hidden, .questionContent.hidden {
    opacity: 0.3; /* Fade out when hidden */
}
  

.quizQuestion h3 {
    font-size: 1.2rem; /* Adjust the font size for the question number */
    margin-bottom: 5px; /* Add some space below the question number */
}
  
.quizQuestion p {
    font-size: 1.1rem; /* Adjust the font size for the question */
}
  
.loadingAttribute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rightSideContainer{
    position: absolute;
    right: 0;
    display: block;
    width: 300px;
    margin-top: -150px;
    display: block;
    text-align: center;
    justify-content: center;
}

.rightSideRowContainer{
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.BubleChatContainer{
    position: absolute;
    left: 0;

}

.ChatContainer{
    width: 200px;
    height: 100px;
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 50px;
    padding: 30px;
    margin-left: 100px;
}



.algorithmImageContainer{
    overflow: visible;
}

.algorithmChoiceContainer{
    text-align: center;
    position: relative;
    font-size: 12px;
    z-index: 900;
}


.containerBildeAlgoritme{
    position: relative;
}

.bildeAvAlgoritme{
    width: calc(12vw);
    background: transparent;
}

.thinkingAlan{
    width: calc(12vw);
    margin-bottom: 30px;
    margin-right: 20px;
}

.thinkingTesla{
    margin-top: -60px;
}

.thinkingKidy{
    width: calc(33vw);
    margin-left: 0px;
}

.algorithmBubbleChat{
    font-size: 0.7rem;
    overflow: auto;
    max-width: 100%;
    margin: auto;
    height: 160px;
    margin: auto;
    padding: 20px;
    color: #666;
}

.AlgorithmChooseText{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: transparent;
    letter-spacing: 0.1px;
    color: #555;
    font-size: 26px;
    margin-left: 50px;
    text-transform: uppercase;
    padding-bottom: 5px;
    font-weight: 100;
}

.testP{
    background-color: transparent;
    border: transparent;
    letter-spacing: 0.1px;
    color: #444;
    font-size: 26px;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-weight: 100;
}

.selectionP{
    font-size: 20px;
}
/* Styles for the container */
.table-container {
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.max-height {
    max-height: 300px; /* Adjust the height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
}
  
#myTable {
    border-collapse: collapse;
    width: 100%;
    max-width: calc(25vw); /* Limit the width to 500px */
    position: absolute;
}
  
  #myTable th, #myTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  #myTable th {
    background-color: #f2f2f2;
  }
  
  #myTable th:first-child, #myTable td:first-child {
    border-right: none;
  }
  
  #myTable tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  #myTable tbody tr:nth-child(even) {
    background-color: #fff;
  }

@media screen and (max-width: 2100px) {

    .infoBattle{
        padding-top: 30px;
    }
    .battleBottomSection{
        margin-top: -120px;
    }
    .boxesContainer{
        padding-top: 10px;
    }

    .thinkingTesla{
        width: 90%;
    }

    .infoContainerArena{
        padding-top: 10px;
    }

    .ChatContainer{
        height: 120px;
    }

    .rightSideContainer{
        margin-top: -10px;
    }

    .containerMysteryText{
        width: 450px;
        margin-left: 40px;
    }

}
  

@media screen and (max-width: 1600px) {

    #myTable{
        max-width: 400px;
    }

    .infoBattle{
        padding-top: 10px;
    }

    .ArenaHeadline{
        font-size: 1.1rem;
    }

    .boxesContainer{
        padding-top: 0px;
    }

    .battleBottomSection{
        margin-top: -115px;
    }

    .infoContainerArena{
        padding-top: 20px;
    }

    .resultText{
        font-size: 15px;
    }

    .rightSideRowContainer{
        margin-top: 0px;
    }

    .timeComplexityOptionsContainer{

    }

    .ChatContainer{
        width: 170px;
        height: 100px;
    }

    .rightSideContainer{
        margin-top: -10px;
    }
    

    .thinkingAlan{
        width: calc(12.5vw);
        margin-bottom: 30px;
        margin-right: 20px;
    }
    
    .thinkingTesla{
        margin-top: -30px;
    }
    
    .thinkingKidy{
        width: calc(30vw);
    }

    .containerMystery{
        padding-top: 0px;
    }

    .containerMysteryText{
        padding: 15px;
        width: 400px;
        margin-left: 70px;
    }

    .mysteryText{
        font-size: 15px;
    }
    
    .algorithmChoiceContainer{
        padding: 12px;
    }

    .AlgorithmChooseText{
        margin-bottom: 0px;
    }

    .selectionP{
        font-size: 16px;
    }

    .algorithmBubbleChat{
        font-size: calc(1vw);
    }

    .quizContainer{
        padding-top: 50px;
    }

    .quizWindow{
        width: 800px;
        height: 770px;
    }

    .nextBtnContainer {
        margin-top: calc(2vw);
    }
}


@media screen and (max-width: 1300px) {


    .elusiveInfo{
        font-size: 0.8rem;
    }

    .boxesContainer{
        height: 60%;
        max-width: 95%;
    }

    .infoBattle{
        padding-top: 20px;
    }

    .infoContainerArena{
        padding-top: 10px;
    }

    .battleBottomSection{
        margin-top: -70px;
    }


}