.arenaContainer{
    width: 100vw;
    height: 100vh;
    justify-content: center;
}


.battleContainer{
    width: 70%;
    height: 100%;
    background-color: rgba(105, 109, 115, 0.214);
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.ArenaHeadline{
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}

.infoBattle{
    padding-top: 100px;
}

.infoContainerArena{
    padding-top: 40px;
    text-align: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
}

.boxesContainer{
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
    height: 60%;
    max-width: fit-content;
    max-width: max-content;
    justify-content: center;
    text-align: center;
    margin: auto;

}

.boxes{
    padding-right: 30px;
    height: 10%;
    justify-content: center;
    text-align: center;
    max-width: fit-content;
    position: relative;
}

.btnBoxes{
    padding: 10px;
    width: 50px;
    color: white;
    background-color: black;
}

.btnBoxes:hover{
    cursor: pointer;
    background-color: lightblue;
}

.battleBottomSection{
    position: relative;
    margin-top: -70px;
}

.algorithmChoiceContainer{
    position: absolute;
    right: 0;
    padding-right: 40px;
    display: block;
    margin-top: -50px;
    font-weight: 600;
    text-align: end;
}

.timeComplexityContainer{
    bottom: 0;

    justify-content: center;
    text-align: center;

}

.GainPointsT{
    color: rgb(243, 173, 43);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}

.timeComplexityText {
    color: #555;
    font-size: 0.9rem;
    padding: 10px;
}


.timeComplexityOptionsContainer{
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    display: flex;
}

.timeComplexityBtn{
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
}

.timeComplexityBtn:disabled{
    transition: 0.7s;
    cursor: not-allowed;
}

.resultComplexityAnswerT{
    font-weight: 600;
    margin-top: 20px;
}

.choseText{
    font-family: 'monospace';
}

.resultater{
    text-align: center;
    justify-content: center;
}

.scoreText{
    justify-content: center;
    margin: auto;
}

.resultText{
    margin: auto;
    text-align: center;
}

.gameTips{
    color: #555;
    padding-top: 20px;
    font-size: 16px;
}

.nextBtnContainer {
    justify-content: center;
    margin: auto;
    display: flex;
    margin-top: calc(3vw);
}

.nextBtn {
    display: flex;
    justify-content: flex-start; /* Align the text to the start of the button */
    border-radius: 20px;
    font-size: 1rem;
    background-color: transparent;
    cursor: pointer;
    border: solid gray 2px;
    padding: 10px 25px;
}

.containerMystery{

    align-items: center;
    width: 550px;
    padding-top: 20px;
    margin: auto;
    justify-content: center;
}

.containerMysteryText{
    text-align: center;
    width: 550px;
    margin: auto;
    padding: 20px;
    margin-left: -15px;
    color: #555;
}

.mysteryText{
    font-size: large;
}

.containerMysteryBtn{
    padding: 0px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    width: 100px;
    text-align: center;
}

.mysteryBtn{
    font-size: 50px;
    color: aqua;
}

.quizContainer{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.quizWindow::before{
    transition: ease-in-out 0.2s;
}

.quizWindow{
    position: relative;
    background-color: white;
    width: 800px;
    height: 800px;
    z-index: 2;
    border-radius: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    transition: opacity 2.3s ease-in-out; /* Add a transition for opacity */
}


.quizQuestion {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: space-between; /* Distribute items evenly along the vertical axis */
    height: 80%; /* Adjust the height as needed */
    padding-top: 20px; /* Add some space at the top */
}

.questionContent{
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: space-between; /* Distribute items evenly along the vertical axis */
    height: 80%; /* Adjust the height as needed */
    padding-top: 20px; /* Add some space at the top */
}

.quizQuestion, .questionContent {
    opacity: 1; /* Ensure questions are initially visible */
    transition: opacity 0.5s ease-in-out;
  }
  
.quizQuestion.hidden, .questionContent.hidden {
    opacity: 0.3; /* Fade out when hidden */
}
  
  

.quizQuestion h3 {
    font-size: 1.2rem; /* Adjust the font size for the question number */
    margin-bottom: 5px; /* Add some space below the question number */
}
  
.quizQuestion p {
    font-size: 1.1rem; /* Adjust the font size for the question */
}
  

.loadingAttribute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.containerBildeAlgoritme{
    position: absolute;
    right: 0;
    bottom: 0;
}

.bildeAvAlgoritme{
    width: calc(12vw);
    background: transparent;
    margin-right: 50px;
}

.thinkingAlan{
    width: calc(13.5vw);
    margin-bottom: 30px;
    margin-right: 20px;
}

.thinkingKidy{
    width: calc(33vw);
    margin-right: -150px;

}

.AlgorithmChooseText{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -50px;
    display: flex;
    flex-direction: row;

}


@media screen and (max-width: 1300px) {
    .ArenaHeadline{
        font-size: 1.1rem;
    }
    .boxesContainer{
        padding-top: 130px;
    }

    .elusiveInfo{
        font-size: 0.8rem;
    }

    .gameTips{
        font-size: 0.6rem;
    }

    .btnBoxes{
        width: 50px;
    }

    .battleBottomSection{
        margin-top: 80px;
    }

    .timeComplexityContainer{

    }

    .timeComplexityText{
        font-size: 0.8rem;
        width: 80%;
    }

    .GainPointsT{
        font-size: 0.8rem;
    }

    .timeComplexityBtn{
        font-size: 0.7rem;
    }

    .resultComplexityAnswerT{
        font-size: 0.6rem;
    }
}